/*--------------Basic contents----------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/*------------------Main tag----------------*/
.main{
    width: 100%;
    background-color: #fff;
}


/*------------Navigation menu------------------*/
.nav{
    transition: all 45s;
    transform:translateY(-1000px);
    display: none;
}
.active{
    display: block;
    transform: translateY(0px);
}



/*--company logo--*/


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0.4rem .5rem;
}



    /*--Nav bar--*/


#nav_bars{
    cursor: pointer;
    color: gray;
}
#nav_bars:hover{
    color: rgb(37, 129, 190);
}


    /*--navigation links--*/


.order_list{
    transition: all 4s;
}
.inside_list{
    display: none;
}
.inside_list2{
    display: none;
}
.droptown_menu{
    display: block;
}

.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: rgb(37, 129, 190);
    font-weight: bold;
}
ul{
    list-style: none;
}
.list{
    text-align: center;
    padding: 0.5rem 0rem ;
}



      /*--Navigation buttons--*/


.btn{
    text-align: center;
    cursor: pointer;
    margin-right: 11px;
    padding: 1em;
}
.btn_bule{
    color: #fff;
}
.btn_white{
    color: #fff;

}
.btn_white:hover{
    color: #fff;
}
.login{
    background-color: #0000ffcb;
    border-radius: 10px;
}
.login:hover{
    background-color: rgb(132, 197, 240);
}
.try{
    background-color: #000080;
    border-radius: 10px;
    margin-top: 10px;
}
.try:hover{
    background-color: #0000ffcb;
}



      /*----navigation media quers-----*/


@media (min-width:767px){
    #nav_bars{
        display: none;
    }
    .nav{
        display: block;
        transition: none;
        transform: translateY(0px);
    }
    .order_list{
        text-align: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
    .link{
        padding: 0em 1em;
    }
    .try{
        margin-top: 0px;
    }
    .hover{
        position: relative;
    }
    .inside_list{
        position: absolute;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 8px;

    }
    .inside_list2{
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 8px;

    }

}


   /*------------------Hero page----------------------*/



.hero_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_img{
    width: 99%;
    padding: 1em 0em;

}
.hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero_text{
    text-align: center;
    max-width: 70%;
    font-weight: bolder;
    font-size: 3rem;
    color: #000080;
}
.hero_btn{
    text-decoration: none;
    font-size: 5rem;
    color: #0000FF;
    font-weight: bold;
}
.hero_btn:hover{
    letter-spacing: 0.8rem;
    color: rgb(23, 96, 206);

}
.hero_companylogo{
    width: 99%;
    background-color: #AEB6BF;
    margin: 0.6rem;
}
.hero_grid img{
    width: 99%;
}
.hero_grid{
    padding: 2em 0em;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}
@media (max-width:549px){
    .hero_grid{
        grid-template-columns: repeat(2,auto);
    }
    .hero_btn{
        font-size: 3.6rem;
    }
}

@media (min-width:767px){
    .hero_grid{
        grid-template-columns: repeat(5,auto);
        grid-gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .hero_img{
        width: 80%;
    }
}



/*----------------Community Descriptions----------------*/
.community_dcn{
    margin: 2em 1em;
    background: #ECF0F1;
    color: #0000FF;
}
.community_head{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 75%;
    color: #000080;
}
.description_img{
    width: 100%;
}
.community_dcn1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dcn1_para{
    width: 77.77%;
    font-size: 1.2rem;
}
.dcn1_head{
    font-size: 2.2rem;
}
.community_dcn2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
.dcn2_para{
    width: 77.77%;
    font-size: 1.2rem;
}
.dcn2_head{
    font-size: 1.8rem;
}

@media (max-width:468px){
    .community_head{
        max-width: 100%;
        font-size: 1.8rem;
    }
    .dcn2_para{
        width: 77.77%;
        font-size: 1rem;
    }
    .dcn2_head{
        font-size: 2rem;
    }
    .dcn1_para{
        width: 77.77%;
        font-size: 1rem;
    }
    .dcn1_head{
        font-size: 2rem;
    }
}
@media (min-width:767px){
    .community_dcn1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin: auto;
    }
    .community_dcn2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
    .dcn1_para{
        width: 100%;
        text-align: justify;

    }
    .dcn2_para{
        width: 100%;
        text-align: justify;

    }
    .description_img{
        width: 70%;
    }
    
}





/*-------------------Live Sessions--------------------*/



.live_sessions{
    background: #17202A;
    
}

.live_inner{
    margin: 1em;
}
.live_img{
    width: 100%;
    padding: 2em;

}
.live_head{
    text-align: center;
    padding: 1.6em 0em;
    color: #fff;
}
.live_text{
    padding: 0.5em 5em;
}
.para_head{
    color: #ecf0f1;

}
.live_para{
    color: #ecf0f1d5;
}
.circle{
    display: inline-block;
    position: relative;
    top: 12px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    overflow: hidden;
}
.circle::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    background: red;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

@media(min-width: 767px){
    .live_img{
        display: block;
        margin: auto;
        width: 75%;

    }
    .live_text{
        padding: 1em 0em;
    }
    .livesessions_text{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: auto;
    }
}


/*-------------------- Admin pages -----------------*/
.admin{
    background: #00FF00;
    margin: 2em 0em;
}
.admin_content{
    padding: 1em;
}
.admin_img{
    width: 20%;
    border-radius: 50%;
}
.admin_text{
    font-size: 1.7rem;
    color: #17202A;
}
.owner_place{
    padding: 0em;
    font-size: 1.4rem;
}
.owner_name{
    line-height: 0;
    white-space: nowrap;
    color: #0b1016;
}


@media (min-width:767px){
    .admin_content{
        padding: 4em;
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .ower_des{
        display: block;
        margin: auto;
    }
    .admin_text{
        width: 77.77%;
    }
    .admin_img{
        width: 100%;
    }


}
@media (min-width: 968px){
    .admin_text{
        width: 60%;
    }
}



/*----------------Cards Section--------------*/
.cards_contents{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    gap: 50px;
    
}
.card_head{
    text-align: center;
    color: #000080;
}
.card{
    width: 250px;
    background: #7fb3d583;
    color: #0000FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.card:hover{
    background: #000080;
    color: #fff;
}
.card_text{
    padding: 2em;
}
.card_img{
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.6;
}
.card_name{
    padding-top: 0.8em;
}
.avatar{
    width: 50%;
    border-radius: 50%;
}

@media (min-width:960px){
    .cards_contents{
        grid-template-columns: repeat(3,auto);
    }


}


/*---------Footer section---------*/

.footer{
    margin: 2em;
}
.footer_head{
    color: #000080;
}
.footer_link{
    text-decoration: none;
    color: #0000ffe3;
}
.footer_link:hover{
    color: #0000ffa6;
}


@media (min-width:767px){
    .footer{
        display: flex;
        justify-content: center;
        gap: 100px;
        align-self: center;
    }
    .footer_det{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-self: center;
    }
    .footer_link{
    }
}
